name: Deploy

on:
  push:
    branches:
      - main

jobs:
  apply:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest
          cache: pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Setup Terraform for generate providers
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: "1.11.3"

      - name: Generate providers
        run: pnpm run generate

      - name: Apply AWS
        uses: hashicorp/terraform-cdk-action@ec317e0c5cebab5b15bd676bbcc8e0afdbc96142 # v11
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          mode: auto-approve-apply
          stackName: aws
          terraformCloudToken: ${{ secrets.TF_API_TOKEN }}
          terraformVersion: "1.11.3"
          commentOnPr: false

      - name: Apply Cloudflare
        uses: hashicorp/terraform-cdk-action@ec317e0c5cebab5b15bd676bbcc8e0afdbc96142 # v11
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          mode: auto-approve-apply
          stackName: cloudflare
          terraformCloudToken: ${{ secrets.TF_API_TOKEN }}
          terraformVersion: "1.11.3"
          commentOnPr: false

      - name: Apply Mackerel
        uses: hashicorp/terraform-cdk-action@ec317e0c5cebab5b15bd676bbcc8e0afdbc96142 # v11
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          mode: auto-approve-apply
          stackName: mackerel
          terraformCloudToken: ${{ secrets.TF_API_TOKEN }}
          terraformVersion: "1.11.3"
          commentOnPr: false

      - name: Apply Terraform Cloud
        uses: hashicorp/terraform-cdk-action@ec317e0c5cebab5b15bd676bbcc8e0afdbc96142 # v11
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          mode: auto-approve-apply
          stackName: terraform-cloud
          terraformCloudToken: ${{ secrets.TF_API_TOKEN }}
          terraformVersion: "1.11.3"
          commentOnPr: false
