name: Terraform Apply

on:
  push:
    branches:
      - master

permissions:
  contents: read
  pull-requests: write
  issues: read

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: '24'

      - name: Install dependencies
        run: pnpm install

      - name: Setup Terraform for generate providers
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: '1.11.3'

      - name: Generate providers
        env:
          MACKEREL_API_KEY: stub
        run: pnpm cdktf provider get

      - name: Apply AWS
        uses: hashicorp/terraform-cdk-action@v11
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          mode: auto-approve-apply
          stackName: aws
          terraformCloudToken: ${{ secrets.TF_API_TOKEN }}
          terraformVersion: '1.11.3'

      - name: Apply Cloudflare
        uses: hashicorp/terraform-cdk-action@v11
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          mode: auto-approve-apply
          stackName: cloudflare
          terraformCloudToken: ${{ secrets.TF_API_TOKEN }}
          terraformVersion: '1.11.3'

      - name: Apply Mackerel
        uses: hashicorp/terraform-cdk-action@v11
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          mode: auto-approve-apply
          stackName: mackerel
          terraformCloudToken: ${{ secrets.TF_API_TOKEN }}
          terraformVersion: '1.11.3'

      - name: Apply Terraform Cloud
        uses: hashicorp/terraform-cdk-action@v11
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          mode: auto-approve-apply
          stackName: terraform-cloud
          terraformCloudToken: ${{ secrets.TF_API_TOKEN }}
          terraformVersion: '1.11.3'
